<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tomato.ai.infrastructure.dao.IMcpGatewayDao">

    <resultMap id="McpGatewayMap" type="cn.tomato.ai.infrastructure.dao.po.McpGatewayPO">
        <id column="id" property="id"/>
        <result column="gateway_id" property="gatewayId"/>
        <result column="gateway_name" property="gatewayName"/>
        <result column="gateway_desc" property="gatewayDesc"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="auth" property="auth"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.tomato.ai.infrastructure.dao.po.McpGatewayPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mcp_gateway (gateway_id, gateway_name, gateway_desc, version, status,auth)
        VALUES (#{gatewayId}, #{gatewayName}, #{gatewayDesc}, #{version}, #{status},#{auth})
    </insert>

    <update id="updateById" parameterType="cn.tomato.ai.infrastructure.dao.po.McpGatewayPO">
        UPDATE mcp_gateway
        SET gateway_id = #{gatewayId},
            gateway_name = #{gatewayName},
            gateway_desc = #{gatewayDesc},
            version = #{version},
            status = #{status},
            auth = #{auth},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateAuthStatusByGatewayId" parameterType="cn.tomato.ai.infrastructure.dao.po.McpGatewayPO">
        UPDATE mcp_gateway
        SET auth = #{auth},
            update_time = NOW()
        WHERE gateway_id = #{gatewayId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM mcp_gateway WHERE id = #{id}
    </delete>

    <select id="queryById" parameterType="java.lang.Long" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, status, auth, create_time, update_time
        FROM mcp_gateway
        WHERE id = #{id}
    </select>

    <select id="queryAll" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, status, auth, create_time, update_time
        FROM mcp_gateway
        ORDER BY id DESC
    </select>

    <select id="queryMcpGatewayByGatewayId" parameterType="java.lang.String" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, status, auth
        FROM mcp_gateway
        WHERE gateway_id = #{gatewayId}
    </select>

    <select id="queryGatewayListCount" parameterType="cn.tomato.ai.infrastructure.dao.po.McpGatewayPO" resultType="java.lang.Long">
        SELECT COUNT(1) FROM mcp_gateway
        <where>
            <if test="gatewayId != null and gatewayId != ''">AND gateway_id LIKE CONCAT('%', #{gatewayId}, '%')</if>
            <if test="gatewayName != null and gatewayName != ''">AND gateway_name LIKE CONCAT('%', #{gatewayName}, '%')</if>
        </where>
    </select>

    <select id="queryGatewayList" parameterType="cn.tomato.ai.infrastructure.dao.po.McpGatewayPO" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, status, auth, create_time, update_time
        FROM mcp_gateway
        <where>
            <if test="gatewayId != null and gatewayId != ''">AND gateway_id LIKE CONCAT('%', #{gatewayId}, '%')</if>
            <if test="gatewayName != null and gatewayName != ''">AND gateway_name LIKE CONCAT('%', #{gatewayName}, '%')</if>
        </where>
        ORDER BY id DESC
        LIMIT #{limitStart}, #{limitCount}
    </select>

</mapper>
